version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: postgres-db2
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: galoucura
      POSTGRES_DB: meu_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  backend:
    build: ./backend
    container_name: backend-app2
    env_file:
      - ./backend/.env
    environment:
      - DB_PROVIDER=neon  
      - JWT_SECRET=secret_key12345
      - PORT=3333
      - DATABASE_URL=postgresql://neondb_owner:INJlZm2C1VaR@ep-green-pond-a5njdqwm-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require
      - NEON_DATABASE_URL=postgresql://neondb_owner:INJlZm2C1VaR@ep-green-pond-a5njdqwm-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require
      # - DB_HOST=localhost
      # - DB_PORT=5432
    ports:
      - "3333:3333"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3333/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s

  frontend:
    build: ./frontend
    container_name: frontend-app2
    ports:
      - "5173:5173"
    depends_on:
      - backend
    command: ["npm", "run", "dev", "--", "--host"]
    restart: unless-stopped

volumes:
  pgdata: